body{
    scroll-behavior: smooth;
    /* background: linear-gradient(45deg, #2b000f, transparent); */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #081420;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: #f49957  ; 
}

.logo img{
    width: 120px;
}
.logo {
    text-decoration: none;
}
.logo span {
    font-weight: 600;
    font-size: 27px;
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.search-box {
    position: absolute;
    right: -2px;
    top: 58px;
    outline: none;
    width: 460px;
}

#topBtn {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 9999;
    cursor: pointer;
}

#topBtn i{
    font-size: 30px;
    color:#f49957;
}
.z-level-high{
    z-index: 999;
}
.ai-template-card-1{
    border: 1px solid rgba(72, 69, 78, .5);
    background-color: rgba(16, 20, 21, .5);
    border-radius: 10px;
}
.contact-us-wrapper .form-group label{
    color: #ececec80;
    margin-bottom: 5px;
}
.contact-us-wrapper .form-group .form-control {
    border: 1px solid rgba(72, 69, 78, .5);
    padding: 10px 15px;
}
.custom-button{
    border: 1px solid #4f4f4f94;
    padding: 10px 15px;
    background: none;
    color: #dbdbdb80;
    border-radius: 3px;
    cursor: pointer;
}
.visiting-wrapper i{
    color: #c3c6c6;
}
.visiting-wrapper span{
    color: #c3c6c6;
    margin-right: 10px;
}
.visiting-wrapper iframe{
    border-radius: 10px;
}
.zsiq-float {
    bottom: 20px!important;
}